.new {
    width: 100%;
}

.new > h4 {
    color: white;
    padding: 30px 30px 0 30px;
    font-size: large;
    font-weight: bold;
}

.newMovies__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}


